body {
  background-color: #234;
  color: whitesmoke;
  padding: 0 3%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
*{
  box-sizing: border-box;
}
.clalArea {
  display: flex;
  flex-direction: column;
}
.break {
  display: none;
}
.days, .weeks {
  display: flex;
}
.day, .week{
  text-align: center;
  line-height: 2;
  min-width: 42px;
  height: 32px;
  border: 1px solid #000;
}
.weekEnd {
  color: pink;
}
